/Conditional_statement_switch_case/nbproject/private/
/Conditional_statement_switch_case/build/
/Conditional_statement_switch_case/dist/
/Assignment/build/
/Assignment/nbproject/private/
/Assignment2_/build/
/Assignment2_/nbproject/private/
/Assignment2_conditional_statements/build/
/Assignment2_conditional_statements/nbproject/private/
/SignUp/build/
/SignUp/nbproject/private/
/SignUp_if_else/build/
/SignUp_if_else/nbproject/private/